* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-page {
    display: flex;
    height: 100vh;
}

.menu-left {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
  width: 200px;
}

.name {
    font-size: 16px;
    padding-bottom: 30px;
    line-height: 22px;
}

.collection {
    font-size: 16px;
    padding-bottom: 5px;
    line-height: 22px;
}

.blog {
    padding-top: 30px;
    padding-bottom: 30px;
}

.style-ref {
    text-decoration: none;
    color: black;
}

.style-ref__active {
    text-decoration: none;
    color: red;
}

.collection > .style-ref:hover {
    color: red;
}

.blog > .style-ref:hover {
    color: red;
}

.CV > .style-ref:hover {
    color: red;
}

.contacts > .style-ref:hover {
    color: red;
}

.bio {
    flex-basis: 55%;
    padding-top: 31px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-style: italic;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 20px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.menu-right {
    flex-basis: 25%;
}

.navmenu {
    visibility: hidden;
}

@media (max-width: 1024px) {
    .bio {
        padding-left: 30px;
        padding-top: 60px;
    }
}

@media (max-width: 420px) {
    .menu {
        display: none;
    }

   .main-page {
       display: block;
   }

   .menu-left {
       display: block;
       padding-left: 10px;
       padding-bottom: 0px;
       padding-right: 10px;
    }

    .menu-left::after {
        content: '';
        display: block;
        border-bottom: 1px solid #000;
        width: 100%;
    }

    .nav-btn {
        border: none;
        background-color: transparent;
        font-size: 20px;
        font-weight: bold;
    }


    .navmenu .name {
        visibility: visible;
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    .nav-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        width: 100%;
        overflow: auto;
        right: 0;
        z-index: 1;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .blog {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .nav-content .style-ref:hover {
        color: red;
    }

    .show {
        display: block;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

   .navmenu {
       visibility: visible;
   }

   .bio {
       padding-top: 0px;
       padding-left: 5%;
       display: block;
       text-align: start;
   }
